[submodule "Examples/PDTwitterTest/AFNetworking"]
	path = Examples/PDTwitterTest/AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
[submodule "PonyDebugger/SocketRocket"]
	path = PonyDebugger/SocketRocket
	url = git://github.com/square/SocketRocket.git
