[submodule "iOS/PDTwitterTest/AFNetworking"]
	path = iOS/PDTwitterTest/AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
[submodule "iOS/PonyDebugger/SocketRocket"]
	path = iOS/PonyDebugger/SocketRocket
	url = git://github.com/square/SocketRocket.git
